*
{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
.main
{
    
    margin-right: 400px;
    width: 50%;
    margin-left: 400px;
}
.wight
{
    background-color:bisque;
    width: 100px;
    height: 100px;
    color: black;
    float: left;




}
.black
{
    background-color:black;
    width: 100px;
    height: 100px;
    color: black;
    float: left;
   
}